<!DOCTYPE html>
<html>
    <head>
        <title>Node Web Server</title>
    </head>
    <body>
        <h1>{{pageTitle}} Page</h1>
        <p>Some text here</p>
    </body>
    <footer>
        Copyright &copy; TYSK {{currentYear}}
    </footer>
</html>